<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.demoapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".DisplayBillCook"></activity>
        <activity android:name=".DisplayBill" />
        <activity android:name=".DisplayFoodDetail" />
        <activity android:name=".DisplayCart" />
        <activity android:name=".PopLogout" />
        <activity android:name=".DisplaySignUp" />
        <activity android:name=".DisplayLogin" />
        <activity android:name=".DisplayInfomation" />
        <activity android:name=".DisplayHome" />
        <activity
            android:name=".PopSuccessActivity"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".PopLoginAgain"
            android:theme="@style/AppTheme.PopUp" />
        <activity android:name=".DisplayWelcome" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>